.landingBox {
  background-color: rgb(95, 93, 93);
  height: 300px;
  width: 600px;
  border-radius: 10px;
  margin-left: 30%;
  padding-top: 0.5%;
  border-color: linear-gradient(
      217deg,
      rgb(28, 119, 139),
      rgba(215, 19, 19, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(178, 78, 214), rgba(105, 3, 143, 1) 70.71%),
    linear-gradient(136deg, rgba(34, 16, 40, 1), rgba(45, 45, 213, 0) 70.71%);
}

.imageBox {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  margin-top: 2.5%;
}

.landingImage {
  height: 100%;
  width: 100%;
}
